<div class="home-buttons">
    <button onclick="location.href='/items'">View All Items</button>
    <button onclick="location.href='/items/add'">Add New Item</button>
    <button onclick="location.href='/items/categories'">View Items by Category</button>
</div>
